/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "neighborgig";
  default: true;
  color-scheme: light;

  --color-primary: #1A3609;
  --color-primary-content: #ffffff;

  --color-secondary: #D0EBC0;
  --color-secondary-content: #1A3609;

  --color-accent: #E8F2E1;
  --color-accent-content: #1A3609;

  --color-base-100: #D0EBC0;
  --color-base-200: #E8F2E1;
  --color-base-300: #c3dfb1;
  --color-base-content: #1A3609;
}
